.newsfeed_container {
    width: 722px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 1px 6px 1px #ccc;
}

.header {
    text-align: center; 
    color: #736eb5;
}

.search_container {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.news_card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.news_card_container {
    height: 550px;
    overflow-y: scroll;
    padding: 20px;
    margin-top: 10px;
}

.loading {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.searchInput {
    width: 356px;
    height: 41px;
    padding: 13px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 11px;
}

.search_button {
    height: 36px;
    width: 36px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
    background-color: #fff;
}

.search_icon {
    width: 16px;
    margin-top: 5px;
}

.title {
    color: #6b678e;
}

.description {
    font-size: '14px';
    color: '#756f6f'
}

.footer_card {
    display: flex;
    justify-content: flex-end;
}